In [1]:
#import numpy under the name np and pandas under the name pd
import numpy as np
import pandas as pd

In [2]:
#Create two dataframe on your own
sales1 = pd.DataFrame({
   'Pid':[1,2,3,4,5],
   'PName': ['Watch', 'Umbrella', 'Chocolates', 'Travel Bag', 'Clothing'],
   'Item_ordered':[1,2,4,6,5]})
sales2 = pd.DataFrame({
	'Pid':[1,2,3,4,5,6,7],
   'PName': ['Camera', 'Mobile', 'Raincoat', 'Sunscreens', 'Gifts','Biscuits','Perfumes'],
   'Item_ordered':[2,4,3,6,5,2,7]})

In [3]:
#Use merge function to create single dataframe and observe the results
print(pd.merge(sales1,sales2,on='Pid'))

   Pid     PName_x  Item_ordered_x     PName_y  Item_ordered_y
0    1       Watch               1      Camera               2
1    2    Umbrella               2      Mobile               4
2    3  Chocolates               4    Raincoat               3
3    4  Travel Bag               6  Sunscreens               6
4    5    Clothing               5       Gifts               5

In [4]:
#Perform merging on the common / overlapping columns as the keys and observe the results (inner join)
print(pd.merge(sales1, sales2, on='Pid', how='inner'))

   Pid     PName_x  Item_ordered_x     PName_y  Item_ordered_y
0    1       Watch               1      Camera               2
1    2    Umbrella               2      Mobile               4
2    3  Chocolates               4    Raincoat               3
3    4  Travel Bag               6  Sunscreens               6
4    5    Clothing               5       Gifts               5

In [5]:
#Perform outer, left , right joins and observe the results
print("OUTER JOIN:")
print(pd.merge(sales1, sales2, on='Pid', how='outer'))
print("LEFT JOIN:")
print(pd.merge(sales1, sales2, on='Pid', how='left'))
print("RIGHT JOIN:")
print(pd.merge(sales1, sales2, on='Pid', how='right'))

OUTER JOIN:
   Pid     PName_x  Item_ordered_x     PName_y  Item_ordered_y
0    1       Watch             1.0      Camera               2
1    2    Umbrella             2.0      Mobile               4
2    3  Chocolates             4.0    Raincoat               3
3    4  Travel Bag             6.0  Sunscreens               6
4    5    Clothing             5.0       Gifts               5
5    6         NaN             NaN    Biscuits               2
6    7         NaN             NaN    Perfumes               7
LEFT JOIN:
   Pid     PName_x  Item_ordered_x     PName_y  Item_ordered_y
0    1       Watch               1      Camera               2
1    2    Umbrella               2      Mobile               4
2    3  Chocolates               4    Raincoat               3
3    4  Travel Bag               6  Sunscreens               6
4    5    Clothing               5       Gifts               5
RIGHT JOIN:
   Pid     PName_x  Item_ordered_x     PName_y  Item_ordered_y
0    1       Watch             1.0      Camera               2
1    2    Umbrella             2.0      Mobile               4
2    3  Chocolates             4.0    Raincoat               3
3    4  Travel Bag             6.0  Sunscreens               6
4    5    Clothing             5.0       Gifts               5
5    6         NaN             NaN    Biscuits               2
6    7         NaN             NaN    Perfumes               7

In [6]:
#If keys are present in index, develop code to perform joins
std1 = pd.DataFrame({
   'sid':[1,2,3],
   'sName': ['arun', 'udhaya', 'suren'],
   'marks':[90,25,40]})
std2 = pd.DataFrame({
'sName': ['dharani', 'raj'],
   'marks':[28,49]}, index=[1,2])
print(pd.merge(std1,std2,left_on="sid",right_index= True,how='outer'))

   sid sName_x  marks_x  sName_y  marks_y
0    1    arun       90  dharani     28.0
1    2  udhaya       25      raj     49.0
2    3   suren       40      NaN      NaN

In [7]:
#Perform concatenation / binding/ stacking as data combination operation by varying axes and join-axes attributes
frames=[sales1,sales2]
pd.concat(frames)
pd.concat(frames,axis=1)

   Pid       PName  Item_ordered  Pid       PName  Item_ordered
0  1.0       Watch           1.0    1      Camera             2
1  2.0    Umbrella           2.0    2      Mobile             4
2  3.0  Chocolates           4.0    3    Raincoat             3
3  4.0  Travel Bag           6.0    4  Sunscreens             6
4  5.0    Clothing           5.0    5       Gifts             5
5  NaN         NaN           NaN    6    Biscuits             2
6  NaN         NaN           NaN    7    Perfumes             7

In [8]:
#Create hierarchical indexing
pd.concat([sales1,sales2],axis=1,keys=['level1','level2'])
pd.concat([sales1,sales2],axis=1,keys=['level1','level2'],names=['upper','lower'])
pd.concat([sales1,sales2],ignore_index=True)

    Pid       PName  Item_ordered
0     1       Watch             1
1     2    Umbrella             2
2     3  Chocolates             4
3     4  Travel Bag             6
4     5    Clothing             5
5     1      Camera             2
6     2      Mobile             4
7     3    Raincoat             3
8     4  Sunscreens             6
9     5       Gifts             5
10    6    Biscuits             2
11    7    Perfumes             7