In [2]:
#1 & 2.import numpy under the name np and pandas under the name pd: 

import pandas as pd
import numpy as np

In [30]:
"""3. Create a dataframe and apply arbitrary functions along the axes of a DataFrame or Panel
using the apply() method, which, like the descriptive statistics methods, takes an optional
axis argument. Pass mean, axis parameters, lambda functions. """

data=pd.DataFrame([[1,2,4],[3,4,5],[6,7,8]],columns=['val1','val2','val3'])
data 
data.apply(np.sqrt)

data.apply(lambda x:[2],axis=1) 
data

   val1  val2  val3
0     1     2     4
1     3     4     5
2     6     7     8

In [31]:
#4. Apply applymap function with lambda argument 

data.applymap(lambda x:x**2)

   val1  val2  val3
0     1     4    16
1     9    16    25
2    36    49    64

In [32]:
#5. Create a list of 15 / 20 ages
list=[11,23,24,14,5,6,1]
list

[11, 23, 24, 14, 5, 6, 1]

In [33]:
#6. Divide them into bins using cut function
age=pd.DataFrame({'ages':list})
age
bins=[1,5,10,15,20]
age['bins']=pd.cut(age.ages,bins)
print(age) 
age.value_counts()

   ages          bins
0    11  (10.0, 15.0]
1    23           NaN
2    24           NaN
3    14  (10.0, 15.0]
4     5    (1.0, 5.0]
5     6   (5.0, 10.0]
6     1           NaN

ages  bins
5     (1, 5]      1
6     (5, 10]     1
11    (10, 15]    1
14    (10, 15]    1
dtype: int64

In [14]:
#7. Find the number of elements in each bin
age=pd.DataFrame({'ages':list})
age
bins=[1,5,10,15,20]
labels=['1-4','5-9','10-14','15-20']
age['agerange']=pd.cut(age.ages,bins,labels=labels,include_lowest=True)
age

   ages agerange
0    11    10-14
1    23      NaN
2    24      NaN
3    14    10-14
4     5      1-4
5     6      5-9
6     1      1-4

In [34]:
#8. Create your own bin names and pass it as labels to cut function 

value=pd.Categorical(['a','b','c','a','b'])
pd.get_dummies(value)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  0  1  0

In [35]:
#9. Convert a categorical variable into “dummy” or “indicator” matrix using Pandasget_dummies function 

df1=pd.DataFrame({'name':['aaa','bbb','ccc','ddd','eee'],'range':['p','d','d','g','g']})
df1
pd.get_dummies(df1,df.columns)

   id_aaa  id_bbb  id_ccc  id_ddd  id_eee  name_d  name_g  name_p
0       1       0       0       0       0       0       0       1
1       0       1       0       0       0       1       0       0
2       0       0       1       0       0       1       0       0
3       0       0       0       1       0       0       1       0
4       0       0       0       0       1       0       1       0

In [28]:
#10. Use prefix argument to add a prefix to the columns in the indicator Dataframe to merge with other data 

df = pd.DataFrame({
 'id':[1,2,3,4,5],
 'name':["arun",'bala','dharani','aakash','raj']})

df

   id     name
0   1     arun
1   2     bala
2   3  dharani
3   4   aakash
4   5      raj